.idea/
.vscode/
.DS_Store
.memory/
mcp/cache/
__pycache__/
mcp/config.yaml
mcp/cache/cache.db
mcp/cache/library/cache.db
mcp/cache/github/cache.db
mcp/cache/task/manager.json
/mcp/dist/lazygophers-mcp
.roo
update.sh